.root {
    -fx-background-image: url("MenuPic1.jpg");
    -fx-background-position: center center;
    -fx-pane-resize: both;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ebd6ba, #a9957d);
    //-fx-background-image: url("TileMenuButton.png");
    //-fx-background-attachment: fixed;
    //-fx-background-position: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.checkBox {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    //-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#GamesSettings-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #333333;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#errorMsg{
    //-fx-fill: #ee3737;
    -fx-font-size: 16px;
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   // -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
    //-fx-fill: firebrick
    //  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); 

}

    .button:hover {
   
   -fx-border-top-color: #edcba8;
   -fx-background-color: linear-gradient(#452204, #a9957d);
   -fx-text-fill: white;
}